# ==========================
# Python 編譯及暫存檔案
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# 虛擬環境與設定
# ==========================
.env
.venv/
venv/
env/

# ==========================
# Flask 專案相關
# ==========================
*.sqbpro
data_random.py
git_teach.txt
*.mp4

# ==========================
# 編輯器與系統檔案
# ==========================
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# 可執行檔與捷徑
# ==========================
*.exe
*.lnk



# ==========================
# 日誌或暫存
# ==========================
*.log
*.tmp
*.bak
